*{
    padding: 0;
    margin: 0;
    font-family: "Garamond" serif;
    box-sizing: border-box;
}
 Navbar{
     /* overflow: hidden;
     width: 100%; */
     margin: 0;
     padding: 0;
     position: fixed;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
 }



.details-display{
    width:400px;
    top: 50%;
    left: 50%;
    height: 600px;
    transform: translate(-50%, -50%);
    position: absolute;
    color:#000;
    padding-top: 15px;
    margin-top: 100px;
    
    
}

.details-display h3{
    font-size: 25px;
    margin: 10px 0;
    align-items: center;
    text-align: center;
    
}

.details-display ul{
    font-size: 18px;
    margin: 10px 0;
    justify-content: center;
    padding: 1rem;
}

.details-display ul p{
    font-size: 18px;
    padding: 10px;
    /* background-color: yellowgreen; */
}

/* .details-display ul p button{
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px 10px;
    width: 50%;
    border-radius: 5px;
    border: 0;
    align-items: center;
    text-align: center;
    justify-content: center;

} */