body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./components/images/bg-image.png');
  background-size: 100%;
  background-repeat: inherit; */
  height: 100vh;
  display: flex;
  /* align-items: center; 
  text-align: center; */
  font-family: sans-serif;
  /* justify-content: center;  */
  background: url('./components//images/bg.jpg');
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
